services:
  meetc-zabbix-agent:
    container_name: meetc-zabbix-agent
    image: zabbix/zabbix-agent2:7.2.15-alpine
    restart: always
    privileged: true
    user: root
    network_mode: "host"
    pid: "host"
    cap_add:
      - NET_RAW
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/zabbix/tls.psk:/var/lib/zabbix/tls.psk:ro
      - /:/hostroot:ro,rslave
    expose:
     - 10150
    environment:
      - ZBX_SERVER_HOST=${SERVER_HOST}
      - ZBX_SERVER_PORT=10151
      - ZBX_LISTENIP=0.0.0.0
      - ZBX_LISTENPORT=10150
      - ZBX_HOSTNAME=${HOSTNAME}
      - ZBX_TIMEOUT=30
      - ZBX_DEBUGLEVEL=3
      - ZBX_TLSPSKFILE=/var/lib/zabbix/tls.psk
      - ZBX_TLSPSKIDENTITY=${KEY_IDENTITY}
      - ZBX_TLSCONNECT=psk
      - ZBX_TLSACCEPT=psk